.salt-card{
     max-width: 1007px;
     width: 100%;
     min-height: 180px;
     border-radius: 15px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background: linear-gradient(275.41deg, #D5E7E6 -27.33%, #FFFFFF 46.85%);
     box-shadow: 0px 0px 30px 0px #0000001A;
     margin: 10px 0 ;
     .fsp-combine{
        width: 33.33%; 
        padding: 1rem 0 1rem 1rem;
     }
}