.search-bar-container {
     width: 90%;
     min-height: 60px;
     max-width: 1002px;
     margin: 0 auto;
     .search-bar{
          width: 100%;
          max-width: 1002px;
          height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-radius: 35px;
          box-shadow: 0px 0px 50px 0px #ADADAD66;

          .icon{
               width: 10%;
               justify-content: center;
               align-items: center;
               color: #555555;
          }
          .search-bar-input{
               outline: none;
               border: none;
               width: 60%;
               font-weight: 400;
               color: #112D316B;
               flex: 1;
               &::placeholder {
                    color: #112D316B;
                  }
                  
               &::-ms-input-placeholder {
                    color: #112D316B
               }
          
          }
          .search-bar-btn{
               all: unset;
               color: #2A527A;
               font-weight: 600;
               font-size: 1rem;
               width: 100px;
               cursor: pointer;
          }

     }
}